body{
    background: #5F5F5F;
}
main{
    padding: 20px;
    margin: 10px;
}

.title{
    color: gold;
    text-align: center;
}
.humano{
    color: #4B0075;
    text-align: center;
}
.contenido{
    text-align: justify;
    color: whitesmoke;
}