body{
    background-image: url(Cuadros.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
main{
    padding: 20px;
    margin: 10px;
    font-size: 20px 0;
}

header{
    width: 100%;
}
header img{
    width: 95%;
    margin: 10px;
    border-radius: 20px;
}

.title{
    color: gold;
    text-align: center;
}
.humano{
    color: #EB00E0;
    text-align: center;
}
span{
    color: #FF0000;
}
.contenido{
    text-align: justify;
    color: whitesmoke;
}

footer{
    align-items: center;
    display: flex;
    justify-content: center;
}
footer img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid #8300B7;
    margin: 20px;
}